@import './base.css';

body {
  overflow: hidden;
}

.settings-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 30vh;
  border: 1px solid pink;
}

.settings-left, .settings-right {
  flex: 1;
  padding: 20px;
  border: 1px solid;
  box-sizing: border-box;
}